@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-section {
        flex-direction: column
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width:860px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-section {
        flex-direction: column
    }
}