/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* all */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 18px 22px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-primary:hover {
    background: #cd6d00;
}

.text-light-gray {
    color: #727272;
}

/* header */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-img {
    width: 100%;
    margin-top: 20px;
}

/* main */
main,
footer {
    max-width: 1440px;
    width: 85%;
    margin: 70px auto;
}

/* teams */
.teams-section {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-heading {
    font-size: 2.8rem;
}

.teams-heading .quick {
    font-weight: 500;
}

.teams-heading .our {
    font-weight: 700;
}

.teams-heading .features {
    color: #FF900E;
    font-weight: 700;
}



/* features section */

.features-section {
    margin-top: 120px;
    display: flex;
    gap: 100px;
}

.features-content>h4 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-content .featurea-card-container .features-card {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.features-img img {
    height: 90%;
    margin-right: 50px;
}

.ten-years {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 40px;
    width: 342px;
    text-align: center;
    position: relative;
    bottom: 120px;
}

.ten-years h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years p {
    font-size: 1.5rem;
    font-weight: 500;
}


/* fact */
.facts-section h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}


/* sponspors */
.sponspors-section .text-light-gray {
    text-align: center;
    margin-bottom: 30px;
}

.sponspors-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 90px;
}

.sponspors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* footer */
footer {
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 0;
    margin-top: 130px;
    margin-bottom: 0;
}

footer p {
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}